/**/
.container-record {
  width: 100%;
  height: 100%;
  padding: 5px;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px 70px 1fr;
  grid-template-areas: "h2 h2" "btn1 btn2" "list list";
  justify-items: center;
  align-items: center;
  
  >h2 {
    grid-area: h2;
    text-align: center;
    font-weight: bold;
    height: 100%;
  }
  
  >div {
    grid-area: btn1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  >button {
    grid-area: btn2;
    height: 45px;
    width: 200px;
  }
  
  >.list-record {
    grid-area: list;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
  }
}

@media (width < 500px) {}

.container-record {
  grid-template-columns: 1fr;
  grid-template-rows: 40px 70px 60px 1fr;
  grid-template-areas: "h2" "btn1" "btn2" "list";
}